IDI_ICON1 ICON DISCARDABLE "main.ico"

#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <winver.h>
#endif

VS_VERSION_INFO VERSIONINFO
	FILEVERSION 2,0,0,0
	FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS__WINDOWS32
	FILETYPE VFT_DLL
	FILESUBTYPE 0x0L
	BEGIN
		BLOCK "StringFileInfo"
		BEGIN
			BLOCK "080404b0"
			BEGIN
				VALUE "FileDescription", "网络串口调试工具"
				VALUE "ProductName", "网络串口调试工具"
				VALUE "ProductVersion", "王洪星"
				VALUE "LegalCopyright", "Copyright(C) 江苏金智科技股份有限公司"
				VALUE "OriginalFilename", "netcomtool.exe"
				VALUE "CompanyName", "江苏金智科技股份有限公司"
				VALUE "InternalName", "netcomtool.exe"
			END
		END
		BLOCK "VarFileInfo"
		BEGIN
			VALUE "Translation", 0x804, 1200
		END
	END
